<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Debug" internalLogFile="c:\nlog.txt">
  <!--hrowExceptions="true" internalLogLevel="Debug" internalLogFile="c:\nlog.txt" 表示当Nlog内部出现错误时记录到文件-->

  <!-- optional, add some variables
  https://github.com/nlog/NLog/wiki/Configuration-file#variables
  -->
  <variable name="myvar" value="myvalue"/>

  <!--
  See https://github.com/nlog/nlog/wiki/Configuration-file
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <!--配置异步写入文件-->
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target name="logFile" xsi:type="File" fileName="${basedir}/logs/Log ${shortdate}.txt" layout="${longdate} ${callsite} ${level}: ${message} ${event-context:item=exception} ${stacktrace}" />
    </target>
    <!--配置异步写入文件-->

    <!--配置写入数据库-->
    <target xsi:type="Database" name="logDb" connectionString="Data Source=LocalHost;Initial Catalog=FunthingDb;Persist Security Info=false;User Id=root;Password=176931"
            commandText="INSERT INTO NLog(Origin, LogLevel, Message, StackTrace,controller,action,params,username,logDate,url,ip)VALUES(@origin,@logLevel,@message,@stackTrace,@controller,@action,@params,@username,@logDate,@url,@ip);">
      <dbProvider>MySql.Data.MySqlClient</dbProvider>
      <parameter name="@origin" layout="${callsite}"/>
      <!--日志来源-->
      <parameter name="@logLevel" layout="${level}"/>
      <!--日志等级-->
      <parameter name="@message" layout="${message}"/>
      <!--日志信息-->
      <parameter name="@stackTrace" layout="${stacktrace}"/>
      <!--控制器-->
      <parameter name="@controller" layout="${event-context:item=controller}"/>
      <!--动作-->
      <parameter name="@action" layout="${event-context:item=action}"/>
      <!--参数-->
      <parameter name="@params" layout="${event-context:item=params}"/>
      <!--用户名-->
      <parameter name="@username" layout="${event-context:item=username}"/>
      <!--日志记录时间-->
      <parameter name="@logDate" layout="${longdate}"/>
      <!--链接地址-->
      <parameter name="@url" layout="${event-context:item=url}"/>
      <!--链接地址-->
      <parameter name="@ip" layout="${event-context:item=ip}"/>
    </target>
    <!--配置写入数据库-->
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="asyncFile"/>
    <logger name="*" minlevel="Info" writeTo="logDb"/>
  </rules>
</nlog>
